
#side
{
    margin-left: 20%;
    margin-top: 20px;
}

#img
{
   width: 10%;
   margin-top: 20px;
}

#oposide
{
    margin-left: 80%;
    margin-top: 20px;
}

#op
{
    width: 50%;
}